@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200&display=swap');
:root{
    --primary: #0b9d8a;
    --primary-lite:#f76b6a;
}
*,*::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

.body{
    font-family: poppins;
    background-color: #FFFFFF;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
nav{
    width: 100%;
    box-shadow: 2px 2px 30px rgba(0,0,0,0.05);
    z-index: 100;
}
.social-call{
    height: 40px;
    border: 1px solid rgba(0,0,0,0.05);
    display: flex;
    justify-content: space-around;
    text-align: center;
}
.social a{
    margin: 0 5px;
    color: rgba(0,0,0,0.7);
    font-size: 0.8rem;
}
.phone{
    color: rgba(0,0,0,0.7);
    margin-left: 30px;
    font-size: 0.9rem;
}
.social a:hover{
    color:var(--primary);
    transition: all ease 0.3s;
}
.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 45px;
}
.navigation .logo img{
    height: 30px;

}

.menu{
    display: flex;
}

.menu li{
    position: relative;
    margin: 20px;
    display: flex;
    text-transform: uppercase;
    font-weight: 500;
}
.menu li a{
    color: #555555;
}
.menu  .sale-lable{
    width: 38px;
    height: 17px;
    background-color: var(--primary-lite);
    font-size: .7rem;
    color: white;
    font-weight: 400;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    position: absolute;
    top: -20px;
    right: -20px;
}
.menu .sale-lable:after{
    content: '';
    width: 0;
    height: 0;
    border-bottom: 5px solid transparent;
    border-left: 3px solid transparent;
    border-top: 7px solid var(--primary-lite);
    border-right: 5px solid transparent;
    position: absolute;
    left: 10%;
    top: 100%;
}
.right-menu a{
  margin: 0 10px;
/*position: relative;*/
    font-size: 1.2rem;
    color: rgba(0,0,0,0.7);
}
 .fa-shopping-cart{
    position: relative;
}
.num-cart-product{

    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: var(--primary);
    font-size: .9rem;
    color: white;
    justify-content: center;
    align-items: center;
    display: flex;
    position: absolute;
    top: -17px;
    right: -19px;
}
.menu a:hover,.right-menu a:hover,.search-cancel:hover,.phone a:hover,.login-form-cancel:hover,.sign-up-form-cancel:hover{
    color:var(--primary);
    transition: all ease 0.3s;
}
.search-bar{
    width: 100%;
    height:300px;
    background-color: #FFFFFF ;
    position: fixed;
    left: 0 ;
    bottom: 0 ;
    display: flex;
    justify-content: center;
    box-shadow: 2px -5px 30px rgba(0,0,0,0.1);
     z-index: inherit;
    animation: search 0.3s;
}
.search-input{
    width: 90%;
    border-bottom:2px solid #555555 ;
    display: flex;
    justify-content: center;
    align-items: center;
    height:15%;
    margin-top: 20px;
}
.search-bar input{
    width: 100%;
    /*padding: 30px;*/
    border: none;
    outline: none;
    font-size: 2rem;
    margin: 20px;
    padding: 0 20px ;
}
.search-bar{
    display: none;
}
.search-bar-active{
    display: flex;
}
.search-cancel{
    position:absolute;
    top: 0;
    right: 0;
    color:red ;
    font-size: 2rem;
    padding-right: 10px;
}
.form{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0 ;
    left: 0 ;
    background-color: rgba(0,0,0,0.2) ;
    justify-content: center ;
    align-items: center ;
    flex-direction: column ;
    z-index: 102 ;
    display: none ;
}
.form-active{
    display: flex;
}
/*login forms*/
.login-form ,.sign-up-form{
    width:60%;
    padding: 20px 10px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
    position: relative;
}
.login-form-cancel,.sign-up-form-cancel{
    color: grey;
    position: absolute;
    top: 5px;
    right: 10px;
    font-weight: 500;
    font-size: 1.2rem;
}

.login-form form,.sign-up-form form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
     width:100%;
}
.login-form strong,.sign-up-form strong{
    color: #272727;
    font-size: 2rem;
    margin: 2px 7px 7px 7px;
    text-transform: uppercase;
    letter-spacing: .5px;
    font-weight: 500;
}
.login-form input,.sign-up-form input{
    width: 90%;
    height: 45px;
    margin: 6px 9px;
    padding: 0 10px;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 7px;

}
.login-form input::placeholder,
.sign-up-form input::placeholder{
    color: rgba(0,0,0,0.5);
}
.login-form input[type="submit"],.sign-up-form input[type="submit"]{
    background-color: var(--primary);
    color: white;
    border: none;
    outline: none;
    text-transform: uppercase;
    margin-top: 10px;
    border-radius: 3px;
    box-shadow: 2px 2px 30px rgba(0,0,0,0.1);
}
.login-form,.sign-up-form,.form{
    display: none;
}
.login-form-active,.login-form-active .login-form,.sign-up-form-active,.sign-up-form-active .sign-up-form{
    display: flex;
}

.form-btns{
    width: 90%;
    display: flex;
    justify-content:space-between ;
    align-items: center;
    margin-top: 10px;
}
.form-btns a{
    font-size: .9rem;
    color: #4d4d4d;
}

.sign-up-btn{
    border-bottom: 1px solid #868686 ;
    line-height: 16px;
}
.form-btns a:hover{
    color: var(--primary);
    /*color: #4d4d4d;*/
}
.full-slider-box{
    width: 100%;
    height: 65vh;
    display: flex;
    justify-content:center;
    align-items: center;  
}
.full-slider-box img{ 
 
object-fit:contain
}
.slider-text-container{
     
    width: 80%;
    height: 90%;
    display: flex;
    align-items: center;

}
.f-slider-text{
    display: flex;
    flex-direction: column;
    margin-right: auto;
}
 .f-slider-text strong{
    color: #333333;
     font-size: 3rem;
     line-height: 55px;
     margin-top: 10px;
     letter-spacing: 1px;
}
 .f-slider-text span{
  text-transform: uppercase;
   letter-spacing: 1px;
     font-weight: 500;
     color: #666666;
     font-size: 1.2rem;
}
 .f-slider-text font{
 color: #0b9d8a;
}
 /* .f-slider-text img{
     width: 100%;   
} */ 
.f-slider-btn{
    width: 170px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    background-color: #0b9d8a;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 10px;
}
.feature-heading{ 
  display: flex;
  justify-content: center;
  align-items: center;
}
.feature-heading h2,.arrival-heading strong{   
    font-size: 1.5rem;
    color: #1b1919;
    font-weight: 500;
    letter-spacing: 1px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 40px;
    padding: 5px 30px;
    border: 1px solid #e0e0e0;
}
.feature-box{
    display: flex ;
    justify-content: space-between;
    align-items: center;
    flex-direction: column; 
    margin-top: 20px;
    /* height: fit-content; */
} 
.feature-box img{
  height: 150px;
} 
.item span{
    color: #0b9d8a;
    font-size: 1rem;
    font-weight: 600;
    margin: 5px;
    color: #444444;
} 
.item{ 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;  
}
#autoWidth{  
    height: 100%;
    display  : display   ;
    justify-content : center !important;
    align-items  : center; 
}
.arrival-heading{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100% ;
    margin-top: 20px ;
   } 
.arrival-heading strong{   
    color: #FFFFFF;
    background-color: #000000;
    font-weight: 500;
}
.arrival-heading p{ 
    color: #808088;
    margin: 10px;
    font-size:.9rem;
}
.product-container{
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    flex-wrap: wrap;
   
}
.product-box{ 
    display: flex;
    justify-content: center; 
    align-items: center;
    flex-direction: column;
    margin: 20px;
    border: 1px solid #f7f7f7;
    border-radius: 10px;
    box-shadow: 2px 2px 30px rgba(0,0,0,0.1);
}
.product-img{   
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
    cursor: pointer;
}
.product-img img{ 
    width: 100%; 
    
}

.product-details{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 80%;
    margin-top: 20px;
}
.p-price{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-top: 20px;
}
.p-name{
    display: flex;
    justify-content: center;
    align-items: center;
}
@media screen and (max-width: 768px){
    /* .full-slider-box{
      height: 100vh;
      width: 100%;
    } */
    .f-slider-text{
        width: 100%;
    }
    .f-slider-text strong{
        font-size: 2rem; 
}
}
/*/keyframes*/

@keyframes search {
    0%{
        bottom: -300px;
      }
    100%{
        bottom: -0px;
      }
}
