
a{

    text-decoration: none;
}
*{
    box-sizing:border-box;
}
ul{
    list-style: none;
}
body{
 margin: 0;
 padding: 0;
 font-family:poppins;
 background-color: #ffffff;
}

nav{
    width: 100%;
    box-shadow: 2px 2px 30px rgba(0,0,0,0.05);
    z-index: 100;
}
.social-call
{
    height: 30px;
    border: 1px solid rgba(0,0,0,0.05);
    display: flex;
    justify-content: space-around;
    text-align: center;
}
.social a{
    margin: 0 5px;
    color: rgba(0,0,0,0.07);
    font-size: 1rem;
}
.phone{
    color: rgba(0,0,0,0.07);
    margin-left: 30px;
    font-size: 0.9rem;
}
.social a:hover{
     color: #0b9d8a;
    transition: all ease 0.3s;
}
.logo img{
    width:100px ;
    height:40px;
}
.navigation{
    display:  flex;
    justify-content: space-between;
align-items: center;
    padding: 0 45px;
}
.menu{
    font-weight:normal;
    display: flex;
    font-size: 15px;

}
.menu li{
    position: relative;
    margin: 20px;
    display: flex;
    text-transform: uppercase;
    font-weight: 500;
}
.menu li a{
    color: #555555;
}
.right-menu a{
    margin: 0 10px;
    font-size: 1.2rem;
    color: rgba(0,0,0,0.7);
}
.menu a:hover,
.right-menu a:hover,
.search-input:hover,
.form-cancel:hover{
    color: #0b9d8a;
    transition: all ease 0.3s;
}
.sale_lable{
    width: 38px;
    height: 17px;
    background-color: #f76b6a;
    color: #FFFFFF;
    font-weight: 400;
    justify-content: center;
    font-size: 0.7rem;
    text-transform: uppercase;
    position: absolute;
    top: -20px;
    right: -20px;
}
.sale_lable:after{
   content: '';
    width: 0;
    height: 0;
    border-bottom: 5px solid transparent;
    border-left: 3px solid transparent;
    border-top: 7px solid #f76b6a;
    border-right: 5px solid transparent;
    position: absolute;
    left: 10%;
    top: 100%;
}
.bxs-cart-alt{
    position: relative;
}
.number-cart-product{
    position: absolute;
    top:  -17px;
    right: -17px;
    width: 25px;
    height: 25px;
    font-size: 0.8rem;
    border-radius:50% ;
    background-color: #0b9d8a;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
}
.search-bar{
    width: 100%;
    height: 300px;
    background-color: #FFFFFF;
   position: fixed;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    box-shadow: 2px -5px 30px rgba(0,0,0,0.1);
    z-index: 101;
}
.search-input{
    color: #0c525d;
    width: 90%;
    border-bottom: 2px solid #555555;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.search-bar input{
    width: 100%;
    padding: 30px;
    border: none;
    outline: none;
    font-size: 2rem;
    margin: 20px;
}

.search-cancel{
    color: #0c525d;
    font-size: 2rem;
    padding-right: 40px;
}
.search-bar{
    display: none;
}
.search-bar-active{
    display: flex;
}
.form{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 102;
}
 .login-form , .register-form {
    width: 420px;
    padding: 20px 10px;
    background-color: #FFFFFF;
    box-shadow: 2px 2px 30px rgba(0,0,0,0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
    position: relative;
}
.login-form form,.register-form form{
     display: flex ;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
.login-form strong,.register-form strong{

    color: #272727;
    font-size: 2rem;
    margin: 2px 7px 7px 7px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-weight: 500;
}
.login-form input, .register-form input{

    width: 90%;
    height: 45px;
    margin: 6px 0;
    padding: 0 10px;
    border: 1px solid rgba(0,0,0,0.1);
    outline: none;
    border-radius: 7px;
}

.login-form input[type="submit"],.register-form input[type="submit"]{
    background-color: #0b9d8a;
    color: #FFFFFF;
    border: none;
    outline: none;
    text-transform: uppercase;
    margin-top: 0 ;
    border-radius: 3px;
    box-shadow: 2px 2px 30px rgba(0,0,0,0.1);

}
.form-btns{
    width: 90%;
    display:flex ;
    justify-content:space-around;
    align-items: center;
    margin-top: 10px;
}
.form-btns a{
    color: #d4d4d4;
    font-size: 0.9rem;
}
.sign-up-btn{
    border-bottom: 1px solid #868686;
    line-height: 16px ;
}
.form-cancel{
    position: absolute;
    right: 20px;
    top: 10px;
    color: #868686;
}
.login-form,.register-form,.form{
    display: none;
}
.login-active,.login-active .login-form{
    display: flex;
    animation: fade 0.3s;
}
.sign-up-active,.sign-up-active .register-form{
    display: flex;
    animation: fade 0.3s;

}

@keyframes fade {
    0%{
        opacity:0 ;
    }
    100%{
        opacity:1 ;

    }
}

.full-slider-box{
    width: 100%;
    height: 65vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;


}

.f-slide-1{
    background-image: url("/images/banner_images/slider_1.jpg");
}
.slider-text-container{
    width: 80%;
    height: 90%;
    display: flex;
    align-items: center;
}
.f-slider-text{
display: flex;
    flex-direction: column;
    margin-right: auto;
 }
.f-slider-text strong{
  color: #333333;
  font-size: 3rem;
    line-height: 55px;
    margin-top: 10px;
    letter-spacing: 1px;
 }
.f-slider-text span{
 text-transform: uppercase;
    letter-spacing: 6px;
    font-weight: 500;
    color: #666666;
    font-size: 1.2rem;
 }
.f-slider-text strong font{
   color: #0b9d8a;
}
.f-slider-btn{
    width: 170px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#FFFFFF ;
    background-color: #0b9d8a;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 14px;
}
